.post .post-image img{
    object-fit: cover;
}
.filter-img-top{
    filter: brightness(0.7);
}
.col-fhd-2{
    @media (min-width: $fullHdDesktops) {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}
.nocontainer-lg{
    @media (min-width: $desktops) {
        max-width: unset;
    }
}
.carousel-caption h2, h3, h4, h5, h6 {
    color: #567;
}