//breakpoints
$smallPhones: 329.98px;
$smartphones: 575.98px;
$tablets: 767.98px;
$desktops: 991.98px;
$largeDesktops: 1199.98px;
$hdDesktops: 1365.98px;
$fullHdDesktops: 1919.98px;
$desktops4k: 2999.98;
/* imports */
@import "index";
@import "sidebar";
@import "simulador";
@import "single";